[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
factory-boy = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
requests = "*"
python-decouple = "*"
celery = "*"
redis = "*"
responses = "*"
pytest = "*"
Werkzeug = "==2.2.2"
pydantic = "*"
jsonify = "*"

[requires]
python_version = "3.9"
